@mixin budget-item-list-theme($theme) {
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);

  $background-color: map-get($background-palette, hover);
  $divider-color: map-get($foreground-palette, divider);

  $handset: map-get($theme, handset);

  .budget-item-list {
    @media #{$handset} {
      .header {
        grid-template-columns: auto 100px 100px !important;
      }

      .no-handset {
        visibility: hidden;
        display: none;
      }
    }

    .header {

      &:hover {}
    }
  }
}
