.cbx-login {
  height: 100%;

  .loader {
    color: black;
    font-family: Roboto;
    left: 0px;
    margin-top: -37px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 40%;

    .title-container {
      .title {
        font-family: "Roboto";
        font-weight: 300;
        margin: 20px 0px 20px 0px;
        line-height: 35px;
      }
    }

    .login-container {
      width: 225px;
      margin: auto;
      margin-top: 68px;

      .img-width {
        cursor: pointer;
        width: 100%;
      }
    }
  }
}
