<mat-toolbar class="cbx-budget-toolbar mat-elevation-z4">
  <button mat-icon-button
    (click)="sidenavService.sidenav?.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h2 class="page-title">Budgets</h2>
  <cbx-month-selector pageToolbar
    class="month-selector"
    [availableMonths]="(facade.budgetSummaries$ | async)!"
    [selectedMonth]="(currentBudget$ | async)!"
    (monthSelected)="monthSelected$.next($event)">
  </cbx-month-selector>
  <span *ngIf="facade.currentUser$ | async as user"
    class="right-align">
    <cbx-current-user [imageSource]="user?.photoUrl"
      [userName]="user?.displayName"
      [email]="user?.email"
      (menuItemSelected)="menuItemSelected($event)">
    </cbx-current-user>
  </span>
</mat-toolbar>
