debug: (_is-legacy-theme: true,
  color: (primary: (50: #eceeec,
      100: #d0d6ce,
      200: #b0baae,
      300: #909e8e,
      400: #798a75,
      500: #61755d,
      600: #596d55,
      700: #4f624b,
      800: #455841,
      900: #334530,
      A100: #a5ff96,
      A200: #7aff63,
      A400: #4fff30,
      A700: #39ff16,
      contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffffc4,
        600: #ffffffc4,
        700: #ffffffc4,
        800: #ffffffc4,
        900: #ffffffc4,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000),
      default: #61755d,
      lighter: #d0d6ce,
      darker: #4f624b,
      text: #61755d,
      default-contrast: #ffffffc4,
      lighter-contrast: #000000,
      darker-contrast: #ffffffc4,
      "50-contrast": #000000,
      "100-contrast": #000000,
      "200-contrast": #000000,
      "300-contrast": #000000,
      "400-contrast": #000000,
      "500-contrast": #ffffffc4,
      "600-contrast": #ffffffc4,
      "700-contrast": #ffffffc4,
      "800-contrast": #ffffffc4,
      "900-contrast": #ffffffc4,
      "A100-contrast": #000000,
      "A200-contrast": #000000,
      "A400-contrast": #000000,
      "A700-contrast": #000000,
      "contrast-contrast": null),
    accent: (50: #ffeaea,
      100: #ffcbcb,
      200: #ffa9a9,
      300: #ff8686,
      400: #ff6c6c,
      500: #ff5252,
      600: #ff4b4b,
      700: #ff4141,
      800: #ff3838,
      900: #ff2828,
      A100: #ffffff,
      A200: #ffffff,
      A400: #ffd5d5,
      A700: #ffbcbc,
      contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000),
      default: #ff5252,
      lighter: #ffcbcb,
      darker: #ff4141,
      text: #ff5252,
      default-contrast: #000000,
      lighter-contrast: #000000,
      darker-contrast: #ffffff,
      "50-contrast": #000000,
      "100-contrast": #000000,
      "200-contrast": #000000,
      "300-contrast": #000000,
      "400-contrast": #000000,
      "500-contrast": #000000,
      "600-contrast": #000000,
      "700-contrast": #ffffff,
      "800-contrast": #ffffff,
      "900-contrast": #ffffff,
      "A100-contrast": #000000,
      "A200-contrast": #000000,
      "A400-contrast": #000000,
      "A700-contrast": #000000,
      "contrast-contrast": null),
    warn: (50: #ffebe4,
      100: #ffcdbd,
      200: #ffab91,
      300: #ff8964,
      400: #ff7043,
      500: #b46147,
      600: #ff4f1e,
      700: #ff4619,
      800: #ff3c14,
      900: #ff2c0c,
      A100: #ffffff,
      A200: #fff7f6,
      A400: #ffc9c3,
      A700: #ffb2a9,
      contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000),
      default: #b46147,
      lighter: #ffcdbd,
      darker: #ff4619,
      text: #b46147,
      default-contrast: #000000,
      lighter-contrast: #000000,
      darker-contrast: #ffffff,
      "50-contrast": #000000,
      "100-contrast": #000000,
      "200-contrast": #000000,
      "300-contrast": #000000,
      "400-contrast": #000000,
      "500-contrast": #000000,
      "600-contrast": #ffffff,
      "700-contrast": #ffffff,
      "800-contrast": #ffffff,
      "900-contrast": #ffffff,
      "A100-contrast": #000000,
      "A200-contrast": #000000,
      "A400-contrast": #000000,
      "A700-contrast": #000000,
      "contrast-contrast": null),
    is-dark: true,
    foreground: (base: white,
      divider: rgba(255, 255, 255, 0.12),
      dividers: rgba(255, 255, 255, 0.12),
      disabled: rgba(255, 255, 255, 0.5),
      disabled-button: rgba(255, 255, 255, 0.3),
      disabled-text: rgba(255, 255, 255, 0.5),
      elevation: black,
      hint-text: rgba(255, 255, 255, 0.5),
      secondary-text: rgba(255, 255, 255, 0.7),
      icon: white,
      icons: white,
      text: white,
      slider-min: white,
      slider-off: rgba(255, 255, 255, 0.3),
      slider-off-active: rgba(255, 255, 255, 0.3)),
    background: (status-bar: black,
      app-bar: #212121,
      background: #303030,
      hover: rgba(255, 255, 255, 0.04),
      card: #424242,
      dialog: #424242,
      disabled-button: rgba(255, 255, 255, 0.12),
      raised-button: #424242,
      focused-button: rgba(255, 255, 255, 0.12),
      selected-button: #212121,
      selected-disabled-button: #424242,
      disabled-button-toggle: black,
      unselected-chip: #616161,
      disabled-list-option: black,
      tooltip: #616161)),
  primary: (50: #eceeec,
    100: #d0d6ce,
    200: #b0baae,
    300: #909e8e,
    400: #798a75,
    500: #61755d,
    600: #596d55,
    700: #4f624b,
    800: #455841,
    900: #334530,
    A100: #a5ff96,
    A200: #7aff63,
    A400: #4fff30,
    A700: #39ff16,
    contrast: (50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #ffffffc4,
      600: #ffffffc4,
      700: #ffffffc4,
      800: #ffffffc4,
      900: #ffffffc4,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000),
    default: #61755d,
    lighter: #d0d6ce,
    darker: #4f624b,
    text: #61755d,
    default-contrast: #ffffffc4,
    lighter-contrast: #000000,
    darker-contrast: #ffffffc4,
    "50-contrast": #000000,
    "100-contrast": #000000,
    "200-contrast": #000000,
    "300-contrast": #000000,
    "400-contrast": #000000,
    "500-contrast": #ffffffc4,
    "600-contrast": #ffffffc4,
    "700-contrast": #ffffffc4,
    "800-contrast": #ffffffc4,
    "900-contrast": #ffffffc4,
    "A100-contrast": #000000,
    "A200-contrast": #000000,
    "A400-contrast": #000000,
    "A700-contrast": #000000,
    "contrast-contrast": null),
  accent: (50: #ffeaea,
    100: #ffcbcb,
    200: #ffa9a9,
    300: #ff8686,
    400: #ff6c6c,
    500: #ff5252,
    600: #ff4b4b,
    700: #ff4141,
    800: #ff3838,
    900: #ff2828,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffd5d5,
    A700: #ffbcbc,
    contrast: (50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000),
    default: #ff5252,
    lighter: #ffcbcb,
    darker: #ff4141,
    text: #ff5252,
    default-contrast: #000000,
    lighter-contrast: #000000,
    darker-contrast: #ffffff,
    "50-contrast": #000000,
    "100-contrast": #000000,
    "200-contrast": #000000,
    "300-contrast": #000000,
    "400-contrast": #000000,
    "500-contrast": #000000,
    "600-contrast": #000000,
    "700-contrast": #ffffff,
    "800-contrast": #ffffff,
    "900-contrast": #ffffff,
    "A100-contrast": #000000,
    "A200-contrast": #000000,
    "A400-contrast": #000000,
    "A700-contrast": #000000,
    "contrast-contrast": null),
  warn: (50: #ffebe4,
    100: #ffcdbd,
    200: #ffab91,
    300: #ff8964,
    400: #ff7043,
    500: #b46147,
    600: #ff4f1e,
    700: #ff4619,
    800: #ff3c14,
    900: #ff2c0c,
    A100: #ffffff,
    A200: #fff7f6,
    A400: #ffc9c3,
    A700: #ffb2a9,
    contrast: (50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000),
    default: #b46147,
    lighter: #ffcdbd,
    darker: #ff4619,
    text: #b46147,
    default-contrast: #000000,
    lighter-contrast: #000000,
    darker-contrast: #ffffff,
    "50-contrast": #000000,
    "100-contrast": #000000,
    "200-contrast": #000000,
    "300-contrast": #000000,
    "400-contrast": #000000,
    "500-contrast": #000000,
    "600-contrast": #ffffff,
    "700-contrast": #ffffff,
    "800-contrast": #ffffff,
    "900-contrast": #ffffff,
    "A100-contrast": #000000,
    "A200-contrast": #000000,
    "A400-contrast": #000000,
    "A700-contrast": #000000,
    "contrast-contrast": null),
  is-dark: true,
  foreground: (base: #ffffffc4,
    divider: rgba(255, 255, 255, 0.12),
    dividers: rgba(255, 255, 255, 0.12),
    disabled: rgba(255, 255, 255, 0.5),
    disabled-button: rgba(0, 0, 0, 0.38),
    disabled-text: rgba(255, 255, 255, 0.5),
    elevation: black,
    hint-text: rgba(255, 255, 255, 0.5),
    secondary-text: rgba(255, 255, 255, 0.7),
    icon: rgba(0, 0, 0, 0.6),
    icons: rgba(0, 0, 0, 0.6),
    text: white,
    slider-min: white,
    slider-off: rgba(255, 255, 255, 0.3),
    slider-off-active: rgba(255, 255, 255, 0.3)),
  background: (status-bar: black,
    app-bar: #212121,
    background: #424242,
    hover: rgba(255, 255, 255, 0.04),
    card: #424242,
    dialog: #424242,
    disabled-button: rgba(255, 255, 255, 0.12),
    raised-button: #424242,
    focused-button: rgba(255, 255, 255, 0.12),
    selected-button: #212121,
    selected-disabled-button: #424242,
    disabled-button-toggle: black,
    unselected-chip: #616161,
    disabled-list-option: black,
    tooltip: #616161),
  primary-states: (activated: rgba(97, 117, 93, 0.12),
    base: #61755d,
    dragged: rgba(97, 117, 93, 0.08),
    focus: rgba(97, 117, 93, 0.12),
    hover: rgba(97, 117, 93, 0.04),
    pressed: rgba(97, 117, 93, 0.16),
    selected: rgba(97, 117, 93, 0.08)),
  accent-states: (activated: rgba(255, 82, 82, 0.12),
    base: #ff5252,
    dragged: rgba(255, 82, 82, 0.08),
    focus: rgba(255, 82, 82, 0.12),
    hover: rgba(255, 82, 82, 0.04),
    pressed: rgba(255, 82, 82, 0.16),
    selected: rgba(255, 82, 82, 0.08)),
  alert-states: (activated: rgba(156, 105, 89, 0.12),
    base: #9c6959,
    dragged: rgba(156, 105, 89, 0.08),
    focus: rgba(156, 105, 89, 0.12),
    hover: rgba(156, 105, 89, 0.04),
    pressed: rgba(156, 105, 89, 0.16),
    selected: rgba(156, 105, 89, 0.08)),
  warn-states: (activated: rgba(160, 105, 115, 0.12),
    base: #a06973,
    dragged: rgba(160, 105, 115, 0.08),
    focus: rgba(160, 105, 115, 0.12),
    hover: rgba(160, 105, 115, 0.04),
    pressed: rgba(160, 105, 115, 0.16),
    selected: rgba(160, 105, 115, 0.08)),
  error-states: (activated: rgba(180, 97, 71, 0.12),
    base: #b46147,
    dragged: rgba(180, 97, 71, 0.08),
    focus: rgba(180, 97, 71, 0.12),
    hover: rgba(180, 97, 71, 0.04),
    pressed: rgba(180, 97, 71, 0.16),
    selected: rgba(180, 97, 71, 0.08)),
  success-states: (activated: rgba(83, 148, 83, 0.12),
    base: #539453,
    dragged: rgba(83, 148, 83, 0.08),
    focus: rgba(83, 148, 83, 0.12),
    hover: rgba(83, 148, 83, 0.04),
    pressed: rgba(83, 148, 83, 0.16),
    selected: rgba(83, 148, 83, 0.08)),
  std-white: #ffffff,
  std-black: #000000,
  handset: "(max-width: 600px) and (orientation: portrait)"
);
